extends layout.pug 
block content 
    div.container 
        h1 Create new Task 

        if error 
            p.error Please add  task! 

        if done  
            p.done  Task is created!

        form(action="/create" method='POST') 
            label Title
            input.input(type="text" name='title') 
            label Description 
            textarea.input(type="text" name='description') 
            button.btn Create new task 