doctype html
html(lang='en')
    head
        title Tasks
        link(rel='stylesheet', href='/static/styles.css')
    body 
        header.navbar 
            h1 Tasks App  
                

            nav.nav
                a(href='/tasks') All Tasks 
                a(href='/archive') Archive 
        block content 