doctype html
html(lang='en')
    head
        title Tasks
        link(rel='stylesheet', href='/static/styles.css')
    body 
        header.navbar 
            h1 
                a(href="/") Tasks App   
                

            nav.nav
                h1 
                 a(href='/tasks') All Tasks 
                
        block content 