:root {
    font-size: 18px;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: blue;
}

.navbar,
.nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px dotted white;
    padding: 10px;
}
.nav {
    margin-right: 0;
}

/* home styeles */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.intro-mes {
    padding: 50px 0 30px 0;
    font-size: 2rem;
    max-width: 50%;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 70px;
}

.featured {
    display: inline-block;
    
    padding: 15px 20px;
    background: blue;
    color: rgb(0, 0, 0);
}
.featured:hover {
    color: red;
}
/* create */

.form {
    max-width: 60%;
}


.input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: blue;
    color: white;
    font-size: 1.3rem;
    border: none;
    padding: 10px 20px;
    font-family: inherit;
}
/* task list */

.task-wrapper {
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}


.task {
    font-size: 1.5rem;
    text-align: center;
}


.delete {
    display: inline-block;
    padding: 5px 10px;
    background: rgb(158, 56, 38);
    color: white;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.2rem;
    color: red;
}

.done {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    font-size: 1.2rem;
    color: green;
}

.title {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.description {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.topic {
    text-align: center;
    margin-bottom: 20px;
}